
.bg-black {
  background-color: $portfolio-black;
  color: $portfolio-white;
}

.bg-white {
  background-color: $portfolio-white;
  color: $portfolio-black;
}

.bg-lightblue {
  background-color: $portfolio-lightblue;
  color: $portfolio-black;
}

.bg-teal {
  background-color: $portfolio-teal;
  color: $portfolio-white;
}

.bg-gray {
  background-color: $portfolio-gray;
  color: $portfolio-white;
}

.bg-red {
  background-color: $portfolio-red;
  color: $portfolio-white;
}

.bg-orange {
  background-color: $portfolio-orange;
  color: $portfolio-white;
}

.bg-green {
  background-color: $portfolio-green;
  color: $portfolio-white;
}
