

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/63u3lLb.jpg"); // 63u3lLb.jpg  bg-home21.jpg
  background-size: cover !important;
background-attachment: fixed;
  // background-repeat: no-repeat;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.banner h2 {
  color: $portfolio-white;
  margin-bottom: 50px;
  padding: 10px;
  font-weight: italic;
  border: 1px solid $portfolio-white;
}
