/* Main class */

.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $portfolio-gray;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 0px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  color: $portfolio-white;
  z-index: 999;
}


.bar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  // background: $portfolio-orange;
  height: 70px;
  width: 100%;
  // color: $portfolio-white;
  padding: 15px;
}

.bar_content {
  margin: 0 auto;
  h1 {
    margin-top: 0px;
  }
}


/* Navbar item */
.navbar-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    color: $portfolio-white;
  }
}



.navbar-item-active {
  background: $gradientactive;
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Optional class to fix the navbar on top */
.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
