
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="list-inline">
          <li><a href="https://nl.linkedin.com/in/matthijsmaas"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/matthijs.maas"><i class="fa fa-facebook"></i></a></li>
          <li><a href="mailto: Matthijs.M.Maas@gmail.com"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="tel: +31618413495"><i class="fa fa-mobile"></i></a></li>
          <li><a href="https://twitter.com/matthijsMmaas?lang=en"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/Nova-Wintermute"><i class="fa fa-github"></i></a></li>
          <li><a href="https://edinburgh.academia.edu/MatthijsMaas"><i class="fa fa-graduation-cap"></i>
        </ul>
      </div>
    </div>
  </div>
</div>

