<div class="navbar">
  <!-- Logo -->

<div class="navbar-item col-xs-3 col-sm-4 col-md-6 col-lg-12">
  <a class="navbar-tab active" href="#Think">
    <h2>/Think/</h2>
  </a>
</div>

<div class="navbar-item col-xs-3 col-sm-6 col-md-12 ">
  <a class="navbar-tab active" href="#Do">
    <h2>/Do/</h2>
  </a>
</div>

<div class="navbar-item col-xs-3 col-sm-6 col-md-12 ">
  <a class="navbar-tab active" href="#Make">
    <h2>/Make/</h2>
  </a>
</div>

</div>

<!--

<div class="block col-sm-3 col-"

  <div class="span2">
    <a href="javascript: void(0);" onclick="gotopage(84);">
      <img src="http://aktisstrategy.com/wp-content/uploads/2013/07/logo.png" alt="Specialist consultancy for the world's most challenging environments.">
    </a>
  </div>
  <div class="span10">
    <ul id="menu-menu-main" class="nav color-ff"><li style="display: list-item;" id="menu-item-87" data-li-nav-id="84" class="icon-home menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-84 current_page_item one-8th text-center clickable" onclick="gotopage(84);" data-nav-target-id="84"><a href="javascript: void(0);">Home</a></li><li style="display: list-item;" id="menu-item-64" data-li-nav-id="20" class="icon-bulb menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable active" onclick="gotopage(20);" data-nav-target-id="20"><a href="javascript: void(0);">Inspiration</a></li><li style="display: list-item;" id="menu-item-65" data-li-nav-id="14" class="icon-a menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(14);" data-nav-target-id="14"><a href="javascript: void(0);">Presence</a></li><li style="display: list-item;" id="menu-item-63" data-li-nav-id="60" class="icon-box menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(60);" data-nav-target-id="60"><a href="javascript: void(0);">Delivery</a></li><li style="display: list-item;" id="menu-item-98" data-li-nav-id="90" class="icon-exec menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(90);" data-nav-target-id="90"><a href="javascript: void(0);">Our Team</a></li><li style="display: list-item;" id="menu-item-117" data-li-nav-id="113" class="icon-plus menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(113);" data-nav-target-id="113"><a href="javascript: void(0);">Recruitment</a></li><li style="display: list-item;" id="menu-item-140" data-li-nav-id="131" class="icon-storm menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(131);" data-nav-target-id="131"><a href="javascript: void(0);">Thinking</a></li><li style="display: list-item;" id="menu-item-154" data-li-nav-id="150" class="icon-cloud menu-item menu-item-type-post_type menu-item-object-page one-8th text-center clickable" onclick="gotopage(150);" data-nav-target-id="150"><a href="javascript: void(0);">Contact</a></li></ul>                        </div>
    <div class="clearfix"></div>

 -->

