<div class="navbar">
  <!-- Logo -->

<div class="navbar-item col-xs-3 col-sm-4 col-md-6 col-lg-12">
    <h2 style="opacity: 0.5;">Discover What I...</h2>
</div>

<div class="navbar-item col-xs-3 col-sm-4 col-md-6 col-lg-12">
</div>

<div class="navbar-item col-xs-3 col-sm-4 col-md-6 col-lg-12">
  <a class="navbar-tab active" href="#Think">
    <h2>/ Think /</h2>
  </a>
</div>

<div class="navbar-item col-xs-3 col-sm-6 col-md-12 ">
  <a class="navbar-tab active" href="#Do">
    <h2>/ Do /</h2>
  </a>
</div>

<div class="navbar-item col-xs-3 col-sm-6 col-md-12 ">
  <a class="navbar-tab active" href="#Make">
    <h2>/ Make /</h2>
  </a>
</div>

</div>

