---
title: Matthijs Michiel Maas | Portfolio
---

<div class="banner">
  <div class="welcome text-center padded">
  <div id="particles-js"></div>
<!--   <div id="particles-js"></div> -->
    <div>
      <h1> &lt;Matthijs M. Maas&gt;</h1>
      <h2>Fullstack Developer || Policy Analyst</h2>
      <!--     <a href="#" class="button">Get to know me!</a> -->
    </div>
  </div>
</div>
<div class="bar text-center bg-gray">
  <div class="bar_content">
    <h1 class="text-center" id="Think">/Think</h1>
  </div>
</div>
<div class="top_wrapper">
  <!-- <div class="triangle">
    <a href="#Think" class="triangle-down text-center"></a>
  </div> -->
  <div class="wrapper">
    <div class="container anchor">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 bg-white">
          <div class="card text-center">
    <!--       <h2>Skills</h2>
          <h3>Ruby</h3>
          <h3>HTML</h3>
          <h3></h3>
          <h3></h3>
          <h3></h3>
 -->

          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 bg-gray">
         <div class="card">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 bg-white">
       <div class="card">
      </div>
    </div>
  </div>

</div>
</div>
</div>

<div class="bar text-center bg-orange">
  <div class="bar_content">
    <h1 class="text-center" id="Do">/Do</h1>
  </div>
</div>
<div class="top_wrapper">
<!--   <div class="triangle">
    <a href="#Do" class="triangle-down text-center"></a>
  </div> -->
  <div class="wrapper padded">
    <div class="container anchor">
      <div class="tabs">
        <a class="tab active" data-target="#bio">
          <h2>Yesterday</h2>
        </a>
        <a class="tab" data-target="#projects">
          <h2>Today</h2>
        </a>
        <a class="tab" data-target="#contact">
          <h2>Tomorrow</h2>
        </a>
      </div>

      <div class="container-fluid.hidden-xs text-center">
        <div class="tab-content" id="bio">
          <p>Diplomacy, Nuclear Security..</p>
          <img src="../images/MIRV.jpg">
        </div>
        <div class="tab-content hidden" id="projects">
          <p>Fullstack Web Developer @ Le Wagon</p>
        </div>
        <div class="tab-content hidden" id="contact">
          <p>Data-driven policy analysis</p>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="bar text-center bg-green">
  <div class="bar_content">
    <h1 class="text-center" id="Make">/Make</h1>
  </div>
</div>
<div class="top_wrapper">
  <!-- <div class="triangle">
    <a href="#Make" class="triangle-down text-center"></a>
  </div> -->
  <div class="wrapper padded">
    <div class="container anchor">
    <div id="particles-js"></div>   <!--PARTICLES -->

    </div>
  </div>
</div>




<!-- styles (color and font) DONE-->
<!-- navbar  to be pinned-->



<!-- footer -- DONE>
<br>

<!-- html -->
<!-- banner -->
<!-- intermediate effects -->
<!-- crazy effects -->
<!-- profile -->
<!-- projects -->
<!-- contact -->







