---
title: Matthijs Michiel Maas | Portfolio
---

<div class="banner">

  <div class="welcome text-center padded">
    <div>
      <h1> &lt;Matthijs M. Maas&gt;</h1>
      <h2>Fullstack developer | Security Analyst</h2>
      <!--     <a href="#" class="button">Get to know me!</a> -->
    </div>
  </div>
</div>
<div class="bar text-center bg-orange">
  <div class="bar_content">
    <h1 class="text-center" id="portfolio">/Portfolio</h1>
  </div>
</div>
<div class="top_wrapper">
  <div class="triangle">
    <a href="#portfolio" class="triangle-down text-center"></a>
  </div>
  <div class="wrapper padded">
    <div class="container anchor">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bg-white">
          <div class="card ">
            <h2>Project-I</h2>
            <p>Mine Kafon</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bg-gray">
 <div class="card">
          <h2>Project-II</h2>
          <p>  </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 bg-white">
         <div class="card">
          <h2>Project-III</h2>
          <p></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="bar text-center bg-teal">
    <div class="bar_content">
      <h1 class="text-center" id="experience">/Experience</h1>
    </div>
  </div>
<div class="top_wrapper">
  <div class="triangle">
    <a href="#experience" class="triangle-down text-center"></a>
  </div>
  <div class="wrapper padded">
    <div class="container anchor">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card bg-teal">

            <h2>Strategy</h2>
            <p> </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
 <div class="card bg-gray">
          <h2>Coding</h2>
          <p>  </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
         <div class="card bg-teal">
          <h2>Committment</h2>
          <p></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- styles (color and font) DONE-->
  <!-- navbar  to be pinned-->



<!-- footer -- DONE>
<br>

<!-- html -->
<!-- banner -->
<!-- intermediate effects -->
<!-- crazy effects -->
<!-- profile -->
<!-- projects -->
<!-- contact -->







